{% extends 'base.html' %}

{% block page-main %}
{% load randomclour %}
        <div>
            {% if category %}
                <div>
                    <h4>图书一级分类：</h4>
                </div>

                {% for ct in category %}
                    {% if categorynum == ct.0 %}
                        <a href="/category/{{ ct.0 }}/" class="btn btn-default active">{{ ct.1 }}</a>
                    {% else %}
                        <a href="/category/{{ ct.0 }}/" class="btn btn-default">{{ ct.1 }}</a>
                    {% endif %}

                {% endfor %}

                <hr>
            {% endif %}
        </div>

        <div>
            {% if tag %}
                <div>
                    <h4>所有标签：</h4>
                </div>


                {% for ct in tag %}
                    {% if tagnum == ct.0 %}
                        <a href="/tag/{{ ct.0 }}/" class="btn btn-default active">{{ ct.1 }}</a>
                    {% else %}
                        <a href="/tag/{{ ct.0 }}/" class="btn btn-default">{{ ct.1 }}</a>
                    {% endif %}

                {% endfor %}
                <hr>
            {% endif %}
        </div>

{#            {% if data %}#}
{#            <div class="row">#}
{#                <div class="col-xs-12 col-sm-12 col-md-12">#}
{#                    <div>#}
{#                        {{ page_html|safe }}#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        {% endif %}#}

        {% if not data %}
            <div class="row">
                <div class="col-md-12">
                    <p>没找到相关信息</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                <div class="container-fluid">

                    {% for book in data %}
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-1">
                                <img src="{{ book.book_img }}" referrerpolicy="never" style="height: 100px" alt="">
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-10" style="margin-left: 1%">
                                <blockquote><p><i class="fa fa-user-o" aria-hidden="true"></i> 书名： <a href="/archives/{{ book.id }}/">{{ book.title }}</a></p>
                                <p><i class="fa fa-book" aria-hidden="true"></i> 作者：
                                    {% for author in book.authors.all %}
                                         <a href="?query={{ author.name }}">{{ author.name }}</a>
                                    {% endfor %}</p>
                                <p><i class="fa fa-bookmark-o" aria-hidden="true"></i> 标签：
                                    {% if book.tags.all %}
                                    {% for tag in book.tags.all %}
                                        <a href="?query={{ tag.name }}" class="{{ ''|classcolour }}">{{ tag.name }}</a>
                                    {% endfor %}
                                    {% else %}
                                    暂无
                                    {% endif %}

                                </p></blockquote>
{#                                <p>标签: <a href="/tag/{{ book.book_tag }}">{{ book.get_book_tag_choices_display }}</a></p>#}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            {% if data %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                预留
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if data %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div>
                        {{ page_html|safe }}
                    </div>

                </div>

            </div>
        {% endif %}

{% endblock %}