{% extends 'base.html' %}
    {% load randomclour %}

{% block page-main %}

    <div class="col-xs-3 col-sm-3 col-md-3">
        <img src="{{ book_obj.0.book_img }}" referrerpolicy="never" class="img-responsive" alt="">
    </div>
    <div class="col-xs-9 col-sm-9 col-md-6">
        <blockquote>
            <p>书名：<a href="/archives/{{ book_obj.0.id }}/">{{ book_obj.0.title }}</a></p>

            <p>作者：
                {% for author in book_obj.0.authors.all %}
                        <a href="?query={{ author.name }}">{{ author.name }}</a>
                {% endfor %}</p>

            <p>上架日期: {{ book_obj.0.pub_date }}</p>
{#            <p>上架日期: {{ book_obj.pub_date |date:'Y-m-d'}}</p>#}
            <p>ISBN：<a href="?query={{ book_obj.0.isbn }}">{{ book_obj.0.isbn }}</a></p>
            <p>语言: {{ book_obj.0.get_language_display }}</p>
            <p>标签: {% if book_obj.0.tags.all %}
                    {% for tag in book_obj.0.tags.all %}
                           <a href="?query={{ tag.name }}" class="{{ ''|classcolour }}" >{{ tag.name }}</a>
                    {% endfor %}
                    {% else %}
                    暂无
                    {% endif %}
            </p>
            <a class="btn btn-primary" href="/archives/{{ book_obj.0.id }}/download/" role="button">去下载</a>
        </blockquote>
        <hr>
        <blockquote><p>图书简介：</p></blockquote>
        <p>{{ book_obj.0.brief }}</p>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
        预留
    </div>


{% endblock %}
